[Unit]
Description=Move old files from SSD upperdir to HDD storage
After=network.target mnt-data.mount
Wants=snapraid-sync.service

[Service]
Type=oneshot
ExecStart=/srv/scripts/cache_mover.sh
ExecStopPost=/usr/bin/systemctl start snapraid-sync.service
User=root
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
StandardOutput=journal
StandardError=journal
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
