[Unit]
Description=Update Docker Containers and Prune
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/srv/appdata
ExecStart=/usr/bin/docker-compose pull
ExecStart=/usr/bin/docker-compose up -d
ExecStart=/bin/sleep 60
ExecStart=/usr/bin/docker system prune --all --volumes --force
User=root
IOSchedulingClass=idle
Nice=19

[Install]
WantedBy=multi-user.target
