[Unit]
Description=SnapRAID Sync
After=local-fs.target
Conflicts=cache_mover.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snapraid sync
IOSchedulingClass=idle
Nice=19
